  <div class="field">
    <%= @friendlist.label :id_user %><br />
    <%= f.text_field :id_user %>
  </div>
  <div class="field">
    <%= f.label :id_friend %><br />
    <%= f.text_field :id_friend %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
